img {
    width: 400px;
    height: 400px;
    border: 1px solid grey;
}
.main_p {
	text-align: center;
	padding-bottom: 50px;
}

.main_img {
	background-image: url(wow.png);
}

.main_img, .sbm_btn, .c_btn{
	text-align: center;
}

.main_img img {
	width: 300px;
    height: 300px;
    border: 1px solid red;
}

.pick_img img {
	width: 700px;
    height: 600px;
}

.pick_footer {
	padding-top: 100px;
}

p {
	font-size: 30px;
	font-weight: 1000;
	
}

button {
	width: 300px;
	height: 100px;
    font-size: 50px;
	background-color: yellow;
}

.cbh {
	padding-top: 100px;
	padding-bottom: 200px;
}

.cbh_btn {
	background-color: green;
}

.dpl_none {
            display: none;
        }

/*
sj soojin 
mm jimin
ji jihan 
so soeun 
jh  jahee 
zo zoa 
*/